<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="uk.ac.open.ouanywhere.fileopener" version="1.0.0">
    <name>FileOpener</name>
    <description>FileOpener Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,fileopener</keywords>
    <js-module src="www/fileopener.js" name="fileopener">
        <clobbers target="fileopener" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileOpener">
                <param name="ios-package" value="CDVFileOpener"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVFileOpener.h" />
        <source-file src="src/ios/CDVFileOpener.m" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="FileOpener">
                <param name="android-package" value="uk.ac.open.ouanywhere.fileopener"/>
            </feature>
        </config-file>
    </platform>
</plugin>